<!doctype html>
<html>
    <head>
        <title>Noise 0.1</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script>
            var player = null;
            var paused = false;
            var nowPlaying = null;

            function toggle(file) {
                player = player || document.getElementById('player');

                if (nowPlaying === file) {
                    if (paused) {
                        play(file);
                    }
                    else {
                        pause(file);
                    }
                }
                else {
                    if (nowPlaying !== null) {
                        reset();
                    }
                    nowPlaying = file;
                    player.src = nowPlaying;
                    play(file);
                }
            }

            function reset() {
                if (nowPlaying !== null) {
                    var img = document.getElementById('img-' + nowPlaying);
                    img.src = "/static/img/play.png";
                    paused = false;
                    nowPlaying = null;
                }
            }

            function play(file) {
                player = player || document.getElementById('player');
                var img = document.getElementById('img-' + file);
                img.src = "/static/img/pause.png";
                player.play();
                paused = false;
            }

            function pause(file) {
                player = player || document.getElementById('player');
                var img = document.getElementById('img-' + file);
                img.src = "/static/img/play.png";
                player.pause();
                paused = true;
            }
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/{{ subject.category.folder_name }}">&larr; &nbsp; {{ subject.pretty_name }}</a>
            </nav>
            <audio id="player" onended="reset()"></audio>
            <div class="list-group">
                {% for sound in sounds %}
                    <button
                        type="button"
                        onclick="toggle('{{ url_for('static', filename=sound.file_path) }}')"
                        onended="reset('{{ url_for('static', filename=sound.file_path) }}')"
                        class="list-group-item list-group-item-action">

                        <span class="pull-left">
                            <img
                                id="img-{{ url_for('static', filename=sound.file_path) }}"
                                src="{{ url_for('static', filename='img/play.png') }}"
                                class="tiny-image" />
                        </span>
                        {{ sound.pretty_name }}
                    </button>
                {% endfor %}
            </div>
        </div>
    </body>
</html>